/* 3-style.css */

/* Custom font-family properties */
:root {
    --font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-title: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Set body's font-family to font-family-base */
body {
    font-family: var(--font-family-base);
}

/* Targeting all 6 levels of section headings */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
}

/* Rest of your existing styles */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section {
    margin: 50px;
    padding: 20px;
    border: 1px solid #ccc;
}
